body {
    overflow-y: scroll;
    overflow-x: hidden;
}

.login-hero {
    background-image:url('../image/bg-login.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
form.user .form-control-user {
    border-radius: 10rem;
    font-size: .8rem;
    padding: 1.5rem 1rem;
}

.btn-user {
    font-size: .8rem;
    border-radius: 10rem;
    padding: .75rem 1rem;
}